@model IEnumerable<CoffeeShopMVC.Models.Customer>

<h1>Customers</h1>

@foreach(var customer in @Model)
{
    <p><a href="/customers/details/@customer.Id">Info</a> Name: @customer.Name, @customer.Email</p>
}

<a href="/customers/new">Add a Profile</a>