<h1>Add a Customer Profile</h1>

<form method="post" action="/customers">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
    </div>
    <br />
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
    </div>
    <br />
    <button type="submit">Create Profile</button>
</form>