@model IEnumerable<CoffeeShopMVC.Models.Item>

    <h1>Items</h1>

    @foreach(var item in Model)
    {
    <p>Name: <a href="/items/details/@item.Id">@item.Name</a>, Price(In Cents):@item.PriceInCents</p>
    }

    <a href="/items/new">Add a new Item</a>