<h1>Add an Item</h1>
<form method="post" action="/items">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
        <br/>
    </div>    
    <div class="form-group2">
        <label for="PriceInCents">Price(In Cents):</label>
        <input type="number" id="PriceInCents" name="PriceInCents" />
        <br/>
    </div>
    <button type="submit">Create Item</button>
</form>